<div class="contact1">
		<div class="container-contact1">
			<div class="contact1-pic js-tilt" data-tilt>
				<img src="images/img-01.png" alt="IMG">
			</div>

			<form class="contact1-form validate-form" name="checkin-form" method="post" action="/checkin">
				<span class="contact1-form-title">
					Welcome...
				</span>
				<div class="wrap-input1 validate-input" data-validate = "Host is required">
					<select name="host" class="input1">
						<option value="-1">--Select Host--</option>
						{{#each data}}
							<option value="{{{this.email}}}">{{{this.name}}}</option>
						{{/each}}
					</select>
					<span class="shadow-input1"></span>
				</div>
				<div class="wrap-input1 validate-input" data-validate = "Name is required">
					<input class="input1" type="text" name="name" placeholder="Name">
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input class="input1" type="text" name="email" placeholder="Email">
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "Mobile No. is required">
					<input class="input1" type="text" name="mobile" placeholder="Mobile Number">
					<span class="shadow-input1"></span>
				</div>


				<div class="container-contact1-form-btn">
					<button class="contact1-form-btn">
						<span>
							CheckIn
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>