<div class="contact2">
        <div class="container-contact2" id="checkin">
            CheckIn
        </div>
        <div class="container-contact2" id="checkout">
            CheckOut
        </div>
        <div class="container-contact2" id="host">
            Host
        </div>
    </div>
