<div class="contact2">
        <div class="container-contact2" id="checkin">
            <span class="underline">CheckIn</span>
        </div>
        <div class="container-contact2" id="checkout">
            <span class="underline">CheckOut</span>
        </div>
        <div class="container-contact2" id="host">
            <span class="underline">Host</span>
        </div>
    </div>
