.views {
    position: relative;
    display: block;
    padding-top: 5%;
    width: 400px;
    height: 250px;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 18px;
    line-height: 1.5;
    color: #666666;
    border-radius: 15px;
}

.title {
    color: #333;
}

.value {
    color: #002599;
}

.data-view {
    padding-left: 18%;
    margin-bottom: 10px;
}

.contact2 {
    min-height: 100%;
    width: 100%;
    background: #009bff;
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    background: -o-linear-gradient(left, #0072ff, #00c6ff);
    background: -moz-linear-gradient(left, #0072ff, #00c6ff);
    background: linear-gradient(left, #0072ff, #00c6ff);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-contact2:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 4px #00eeee;
    font-weight: 700;
    background-color: #00adcd;
    background: -webkit-linear-gradient(left, #1d5ab4f8, #79f1fa, #1d5ab4f8);
    background: -o-linear-gradient(left, #0072ff, #00c6ff);
    background: -moz-linear-gradient(left, #0072ff, #00c6ff);
    background: linear-gradient(left, #0072ff, #00c6ff);
    /*background: -webkit-linear-gradient(left, #b32c2cf8, #e9dd39, #b32c2cf8);*/
}

.container-contact2 {
    /*width: 1163px;*/
    font-size: 130%;
    color: #002565;
    width: 40%;
    margin: 4px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0 120px 220px;
    text-decoration-line: none;
    margin-right: 2%;
    margin-top: 10%;
}

@media (max-width: 992px) {
    .container-contact2 {
        padding: 90px 80px 88px 90px;
        width: 30%;
    }
}

@media (max-width: 768px) {
    .container-contact2 {
        padding: 30px 0px 30px 220px;
        width: 80%;
    }
}

@media (max-width: 576px) {
    .container-contact2 {
        padding: 30px 0px 30px 28%;
    }
}

#checkin {
    visibility: collapse;
}

#checkout {
    visibility: collapse;
}

select.input1 {
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/drop_down.png") 96% / 4% no-repeat #EEE;
}

option {
    border-radius: 25px;
    outline: none;
    border-color: green;
}

select.input1:focus {
    border-color: transparent !important;
}

select::-webkit-input-placeholder {
    color: #999999;
}

select:-moz-placeholder {
    color: #999999;
}

select::-moz-placeholder {
    color: #999999;
}

select:-ms-input-placeholder {
    color: #999999;
}